<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <script src="https://kit.fontawesome.com/3aba129f51.js" crossorigin="anonymous"></script>
 
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">



        <div class="sidebar pe-4 pb-3">
            {{>sidebar}}

        </div>


        <div class="content">

            {{>adminheaders}}

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Products</h6>
                        <a class="btn btn-sm btn-danger" href="/admin/addProduct">Add Product</a>
                    </div>
                    <div class="table-responsive">

                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">

                                    <th scope="col">No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Catogory</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Description</th>
                                    {{!-- <th scope="col">Quantity</th> --}}

                                    <th scope="col">Price</th>
                                    <th scope="col">Offer Price</th>

                                    <th scope="col">Action</th>

                                    {{!-- <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th> --}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each product}}
                                <tr>
                                    <td>{{inc @index}}</td>

                                    <td>{{this.name}}</td>
                                    <td>{{this.brand}}</td>
                                    <td>{{this.category}}</td>
                                    <td><img src="/user/productimage/{{this.images.[0]}}"
                                            style="width: 50px; height: 50px;" alt=""></td>

                                    <td>{{this.description}}</td>
                                    {{!-- <td>{{this.qty}}</td> --}}
                                    <td>{{this.price}}</td>
                                    <td>{{this.offerPrice}}</td>


                                    <td><a style="color: green;" href="/admin/editProduct/{{this._id}}"> <i
                                                class="fa-solid fa-pen-to-square"></i></a>

                                        <a href="/admin/deleteProduct/{{this._id}}"
                                            onclick="return confirm('Are you sure delete {{this.name}}?')"> <i
                                                class="fa-solid fa-trash"></i></a>
                                    </td>



                                </tr>

                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->



            <!-- Footer End -->
        </div>



    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/lib/chart/chart.min.js"></script>
    <script src="/admin/lib/easing/easing.min.js"></script>
    <script src="/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/javascripts/main.js"></script>
</body>

</html>